.c-contents__desc {
  @include sp {
    margin: 5px 0 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    @include font-Play;
  }
}

.p-schedule .c-contents__desc {
  color: $black;
  @include sp {
    margin-bottom: 50px;
  }
}
