.c-contents__desc {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-bottom: 50px;
  @include font-Play;
  @include sp {
  }
}
.p-schedule .c-contents__desc {
  color: $black;
  @include sp {
  }
}
.p-contact .c-contents__desc {
  color: #fff;
  margin-bottom: 40px;
}
