.c-contents__heading {
  font-size: 25px;
  @include font-Noto;
  font-weight: bold;
  text-align: center;
  padding-top: 45px;
  @include sp {
  }
}
.p-schedule .c-contents__heading {
  color: $black;
}
.p-contact .c-contents__heading {
  color: #fff;
}
