.p-header__info {
  width: 380px;
  height: 494px;
  margin: 138px 0 0 124px;
  position: relative;
  @include sp {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 320px;
  }
}
