.p-header__info {
  width: 380px;
  height: 494px;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 20%;
  transform: translateY(-50%) translateX(-50%);
  @include sp {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 320px;
    transform: translateY(0%) translateX(0%);
<<<<<<< HEAD
  }
  @include tb {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(0%) translateX(0%);
=======
>>>>>>> fa005b379b6136872a1b1c4a46a33c09e94521d1
  }
}
